<div class="offset-container">
  <div class="screen-container">
    <div class="app-container">
      <div id="basic-app"></div>
    </div>
  </div>
</div>

<script type="text/x-template" id="basic-template">
  <v-app dark>
    <v-container fluid>
      <step-list ref="steplist" v-on:cta_clicked="emitNext" api_url="<%= @server %>api/workflows/<%= @demo %>/prompts" transition="slide-fade" :_facts="<%= @facts.to_json %>"></step-list>
    </v-container>
  </v-app>
</script>

<style>
  [bold=true] {
    font-weight: bold;
  }
</style>
