<div id="basic-app"></div>

<script type="text/x-template" id="basic-template">
  <v-app dark>
    <v-container fluid>
    <step-list ref="steplist" v-on:cta_clicked="emitNext" api_url="<%= @server %>api/workflows/<%= @demo %>/prompts" transition="slide-fade" <%= @facts.any? ? ':_facts="' + @facts.to_json + '"' : ''%> <%= params[:geolocation] ? ":geolocation=true" : "" %>></step-list>
      <a href="#" @click="stepBack" class="back">Back</a>
    </v-container>
  </v-app>
</script>

<style>
  [bold=true] {
    font-weight: bold;
  }
</style>
