.step-list {
}

.step {
  padding: 1em;
}

.step .part-text {
  padding: 0;
}

.part__choice {
  border: 1px solid white;
  padding: 3px;
  margin: 1em;
}

a.back {
  text-decoration: none;
  color: white !important;
  font-size: 20px;
  position: absolute;
  bottom: 0;
}
